@import "tailwindcss";
.bg-lovable-gradient {
  background: radial-gradient(
    circle at center,
    #0f0f0f 0%,
    #1e1e2f 30%,
    #4b5563 60%,
    #9333ea 85%,
    #f97316 100%
  );
}
.bg-stone-100{
    background-color: #f5f5f4;
}

.bg-spider-100{
    background-color: #2a2a2a;
}

.bg-hover-100{
  background-color: #313130;
}

.bg-blacky-900{
  background-color: #151718; 
}

.bg-blacky-100 {
    background-color: #323337;
  }

.hover-blacky:hover {
    background-color: #323337;
  }

.bg-blacky-light {
  background-color: #323337;
}

.bg-chat {
  background-color: #edf0f6;
}

.hover-light:hover {
    background-color: #e0e6f2;
  }

.bg-light {
    background-color: #e0e6f2;
  }

.spider-100{
  color: #313130;
}

.text-stone-950{
    color: #0c0a09;
}
.bg-whatsappImg{
    background-image: url('../src/assets/whatsappBg.png');
}
.custom-scrollbox::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbox::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.custom-scrollbox::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

.custom-scrollbox::-webkit-scrollbar-thumb:hover {
  background: #555;
} 